*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

#app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1c1c1c;
  overflow: hidden;
}

#canvas1{
  border: 3px solid black;
  background: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 50%, #fbc2eb 100%);
}



